html {
  font-size: 16px;
}

body {
  background-image: url("https://res.cloudinary.com/dj7wucuvf/image/upload/v1630209026/masivTest/arreglo_wsk3xn.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #198389;
  font-family: 'Rubik Mono One', sans-serif;
  margin: 5%;
}

h2 {
  color: 'black';
  font-family: 'Raleway', sans-serif;
  margin: 3%;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.card {
  height: 100%;
  padding: 30px;
  background: linear-gradient(to right, rgb(203, 198, 198), rgb(194, 189, 189) 50%, rgb(165, 164, 164) 90%);
  border-radius: 2%;
  box-shadow: 5px 5px 5px #696969;
  img {
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }
}

.starsContainer {
  font-size: 2rem;
  margin: 2%;
  @media (prefers-reduced-motion: no-preference) {
    .star {
      animation: App-logo-spin infinite 60s linear;
    }
  }
}


